{% extends 'base.html' %}
{% block body %}
{% load static %}
   <section style="text-align: center;margin-top:5%">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card card-registration" style="border-radius: 0px;">
                    <div class="card-body  p-md-5">
    <div class="container">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2">
            <div class="col"style="margin-top:40px;">
                <img src="https://th.bing.com/th/id/OIP.0EXG5svGMxafdEUbmYDs7QHaGL?w=207&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="" height='200px' width='250px'>
                <br><br>
                <button onclick='dec()'>-</button>
                <input type="text" id='change' class="input-number" value="1" min="0" max="100" style="width:50px;text-align:center">
                <button onclick='add()'>+</button> 
                
            </div>
            <div class="col" style="margin-top:40px;">
                <h5>Vegetables</h5>
                <h5>₹60</h5>
                <small>10% Off</small>
                <p>Description</p>
                <br><br>
                <button class="btn btn-danger">Remove</button>
                <button class="btn btn-success">Buy Now</button>
            </div>
            
            
            </div>
            </div>
           
        {% for item in cart_item %}
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-2">
            <div class="col" style="margin-top:40px;">
                <img src="{% static 'images/img1.jfif' %}" alt="">
                <br><br>
                <a href="{% url 'remove_cart' item.product.id item.id %}">-</a>
                <input type="text" class="input-number" value="1" min="0" max="100" style="width:50px;text-align:center">
                <a href="{% url 'add_cart' item.product.id %}">+</a>
                
            </div>
            <div class="col" style="margin-top:40px;text-align: left;">
                <h5></h5>
                <h5>Price:₹{{item.product.price_for_min_quantity}}</h5>
                <h5>Discount:{{item.product.discount}}</h5><br>
                <a href="{% url 'remove_cart_item' item.product.id item.id %}" class="btn btn-danger">Remove</a>
                <button class="btn btn-success">Buy Now</button>
            </div>
    
            
            </div>
            {% endfor %}
            </div>
           
           
   </section>
   <section>
    <div class="col-lg-4 offset-lg-4">
        <div class="checkout">
            <ul>
                <li class="subtotal">Subtotal
                <span>₹600</span>
                </li>
                <li class="cart-total">Total
                    <span>₹600</span>
                </li>
            </ul>
        <a href="#" class="proceed-btn">Proceed to Checkout</a>
        </div>
        {{cart_item}}
    </div>
    </div>
</section>
{% endblock %}