
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cold Storage</title>
    <style>
        .a{
            text-decoration: none;
            color: black;
        }
        .hdr{
    
            background-color:#18de33;
            color:#fff;
            padding: 12px 0px 12px 0px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            align-items: center;
            margin-left: 10%;
            margin-right: 10%;
        
        
        }
        table{
            border-collapse: collapse;
            
        }
        td,th{
            border: 1px solid #dddddd;
            padding:10px;
            /*margin-left: 5px;
            margin-right: 5px;*/
        }
    </style>
</head>
<body>
    <div class="hdr">
        Cold Storages
    </div>
    <table align="center" border="0px" style="margin-top: 20px;">
        <thead>
            <th>State</th>
            <th>District</th>
            <th>Address</th>
            <th>Contact No</th>
        </thead>
        <tbody>
            <tr>
                <td rowspan="8">Andhra Pradesh</td>
                <td>Visakhapatnam</td>
                <td><a href="https://goo.gl/maps/a1LNYvHZ1S8qi32R7" target="_blank" class="a"> Sunny Exports (P) Ltd.,Boravani palem,Visakhapatnam.</a></td>
                <td>9874561203</td>
            </tr>
            <tr>
                <td>West Godavari</td>
                <td><a href="https://goo.gl/maps/a1LNYvHZ1S8qi32R7" target="_blank" class="a">M/s Universal Cold Storage (P) Ltd.,4/139, Pedaamiram, Bhimavaram - 534</a></td>
                <td>9234567890</td>
            </tr>
            <tr>
                <td>East Godavari</td>
                <td>M/s Ratna Ice & Cold Storage,G.N.T. Road,Rajahmundry</td>
                <td>8230145679</td>
            </tr>
            <tr>
                <td>Krishna</td>
                <td>M/s Velagapudi Cold Storage Pvt.. Ltd.,Autonagar,Vijayawada.</td>
                <td>9887744561</td>
            </tr>
            <tr>
                <td>Nellore</td>
                <td>M/s Sri Vasavi Cold Storage (P) Ltd.,Navalakh Gardens,Nellore.</td>
                <td>9123456780</td>
            </tr>
            <tr>
                <td>Chittoor</td>
                <td>M/s Madanapalli Cold Storage (P)Ltd.,Madanapalli.</td>
                <td>7894561230</td>
            </tr>
            <tr>
                <td>Ananthapur</td>
                <td>M/s Kanyaka Cold Storage (P) Ltd.,Railway Goods Shed Road,Hindupur</td>
                <td>9988776655</td>
            </tr>
            <tr>
                <td>Guntur</td>
                <td>M/s Guntur Cold Storage,Subbareddy Nagar,Ankireddy palem, Near Check</td>
                <td>8877665544</td>
            </tr>
            <tr>
                <td rowspan="9">Telangana</td>
                <td>Adilabad</td>
                <td>D. Satyanarayan Reddy,Ponnala Village, Siddipet Mandal</td>
                <td>7766554411</td>
            </tr>
            <tr>
                <td>Karimnagar</td>
                <td>APSWC,S.No.789/A To D, Village : Bommakal, Mandal: Karimnagar.</td>
                <td>8974501231</td>
            </tr>
            <tr>
                <td>Khamam</td>
                <td>APSWHC, Khamam</td>
                <td>7456891230</td>
            </tr>
            <tr>
                <td>Jadcherla</td>
                <td>APSWC Godown At Jadcherla</td>
                <td>8794560123</td>
            </tr>
            <tr>
                <td>Medak</td>
                <td>B.Ramesh Reddy,Sy.No 192/C Zaheerabad</td>
                <td>8795461230</td>
            </tr>
            <tr>
                <td>Nalgonda</td>
                <td>Alair Market Yard</td>
                <td>6547123890</td>
            </tr>
            <tr>
                <td>Nizamabad</td>
                <td>APSWC, Nizamabad</td>
                <td>9458761230</td>
            </tr>
            <tr>
                <td>Ranga Reddy</td>
                <td>CFS KUKATPALLY,IDPL Raod , Balanagar, Township Post Kukatpally , Hyderabad-500037.</td>
                <td>8877996622</td>
            </tr>
            <tr>
                <td>Warangal</td>
                <td>Market Yard, Mahabubabad, Warangal District</td>
                <td>6688997744</td>
            </tr>
            <tr>
                <td rowspan="5">Tamilnadu</td>
                <td>Perumballur</td>
                <td>Raja cold storage SF No. 173/8E,Sendurai main road, Ariyalur-621 704</td>
                <td>7744558899</td>
            </tr>
            <tr>
                <td>Chennai</td>
                <td>Tamil Nadu Coop marketing Fed. Ltd, Basin bridge road, Chennai-600 012</td>
                <td>9845670123</td>
            </tr>
            <tr>
                <td>Coimbatore</td>
                <td>KPS Cold storage Ooty road, Mettupalayam-641 301 (unit-II)</td>
                <td>8974012563</td>
            </tr>
            <tr>
                <td>Dharmapuri</td>
                <td>ASA cold storage Ameer estate,Azad nagar Krishnagiri-635 001</td>
                <td>8970124563</td>
            </tr>
            <tr>
                <td>Kancheepuram</td>
                <td>New India maritime agencies 55, Armenian St, Chennai-1 CS at Tondiarpet</td>
                <td>7812459636</td>
            </tr>
           
        </tbody>
    </table>
</body>
</html>